<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>architect-new:8080</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>architect-new</MSDeployServiceURL>
    <DeployIisAppPath>repo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>KZGWebDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EAkzgHLDRepo.Models.ApplicationDbContext, EAkzgHLDRepo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MySQLConnStr" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Dsn=eakzg_mysql;description=x;server=10.22.23.82;uid=eakzg;database=eakzg_schema;port=3306;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySQLConnStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Dsn=eakzg_mysql;description=x;server=10.22.23.82;uid=eakzg;database=eakzg_schema;port=3306;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MySQLConnStr5.1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DRIVER={MySQL ODBC 5.1 Driver}; SERVER=10.22.23.82;DATABASE=eakzg_schema;USER=eakzg;PASSWORD=a;OPTION=3;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySQLConnStr5.1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DRIVER={MySQL ODBC 5.1 Driver}; SERVER=10.22.23.82;DATABASE=eakzg_schema;USER=eakzg;PASSWORD=a;OPTION=3;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySQLConnStr-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySQLConnStr5.1-Web.config Connection String" />
  </ItemGroup>
</Project>