/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


    .rounded_corners
    {
        border: 1px solid #A1DCF2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
    }
    .rounded_corners td, .rounded_corners th
    {
        border: 1px solid #A1DCF2;
        font-family: Arial;
        font-size: 10pt;
        text-align: center;
    }
    .rounded_corners table table td
    {
        border-style: none;
    }



.tool_descr, .tool_descr2 { display: none;   
                            /*transform: scale(0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); */}
a:hover span.tool_descr, a:hover span.tool_descr2 { display: block;  width: 90%; background-color: lightblue; border: 1px solid black; padding: 5px; color: black; text-decoration: none;
       /*-webkit-animation-name: example;
   -webkit-animation-duration: 1s;
    -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);  */
}

.tooltipTableKZG {
	/*width:100%;*/
	word-wrap: break-word;
	min-width: 400pt;
	/*max-width: 160px;*/
}
.tooltipTableKZG tr {
	text-align:left;
	padding:8px;
/*	width:100%;*/
}
.tooltipTableKZG th, td{
	/* max-width: 50%; */
	max-width:500pt;	
	min-width:75pt;
}
.tooltipTableKZG tr:nth-child(even) {
	background-color:#3276b1;
}
.tooltipTableKZG tr {
	/* max-width: 50%;	 */
}

.tooltipKZG {	
	position:relative;
	display:inline-block;
	/*border-bottom:1px dotted #000*/
}
.tooltipKZG .tooltiptextKZG {
	visibility:hidden;
	/*width:100%;*/
	background-color:#000;
	color:#fff;
	text-align:center;
	border-radius:6px;
	padding:5px 5px;
	position:absolute;
	z-index:1;
	top:150%;
	left:50%;
	/*margin-left:-60pt;*/
	opacity:0;
	transition:opacity 1s
}
 .tooltiptextKZGKlik {
	visibility:hidden;
	/*width:100%;*/
	background-color:#000;
	color:#fff;
	text-align:center;
	border-radius:6px;
	padding:5px 5px;
	position:absolute;
	z-index:1;
	top:100%;
	left:50%;
	/*margin-left:-60pt;*/
	opacity:0;
	transition:opacity 1s
}
.tooltipKZG .tooltiptextKZG::after {
	content:"";
	position:absolute;
	bottom:100%;
	left:50%;
	margin-left:-5px;
	border-width:5px;
	border-style:solid;
	border-color:transparent transparent #000 transparent
}
.tooltiptextKZGKlik::after {
	content:"";
	position:absolute;
	bottom:100%;
	left:50%;
	margin-left:-5px;
	border-width:5px;
	border-style:solid;
	border-color:transparent transparent #000 transparent
}
.tooltipKZG:hover{
    opacity:0.7;
}
.tooltipKZG:hover .tooltiptextKZG {
	visibility:visible;
	opacity:1
}
.tooltipKZG:hover .tooltiptextKZGKlik {
	visibility:visible;
	opacity:1
}
a:link visited active {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.Tytul {
    display: inline-block;
 Font-family:"TeleGrotesk Headline";
 Font-Size:50px;
 color:#ce47ce;
 Font-weight:bold;
}
.Tytul_1 {
    display: inline-block;
  Font-family:"TeleGrotesk Headline";
 Font-Size:30px;
 color:#CC00CC;
 Font-weight:normal;
  margin-top:70px;
  margin-left:-30px;
 margin-bottom:16px;
}
.Tytul_1_2 {
    display: inline-block;
  Font-family:"TeleGrotesk Headline";
 Font-Size:24px;
 color:black;
 Font-weight:bold;
 margin-top:30px;
 margin-left:-15px;
 margin-bottom:16px;
}
.Tytul_1_2_3 {
    display: inline-block;
  Font-family:"TeleGrotesk Headline";
 Font-Size:20px;
 color:black;
 Font-weight:normal;
 margin:12px;
 margin-left:-10px;
}
.Tytul_1_2_3_4 {
    display: inline-block;
  Font-family:"TeleGrotesk";
 Font-Size:18px;
 color:black;
 Font-weight:bold;
 margin-left:-5px;
}
.txt_normal {
    display: inline-block;
  Font-family:"Tahoma";
 Font-Size:16px;
 color:black;
 Font-weight:normal;
 text-decoration:none;
}
.txt_feature_tytul {
    display: inline-block;
     Font-family:"Tahoma";
 Font-Size:16px;
 color:black;
 Font-weight:bold;
  text-decoration: underline;
  margin-top:20px;
}
.txt_feature_param {
    display: inline-block;
     Font-family:"Tahoma";
 Font-Size:16px;
 color:black;
 Font-weight:bold;
}
.gridView table {
    border-collapse: collapse;
    width:100%;
}
.gridView th, td {
    text-align: left;
    padding: 8px;
    width:auto;
}

.gridView tr:nth-child(even) {background-color: #AED1E3;}

.gridView th {
    background-color:#ce47ce;
    color: white;
}
.gridView p{
    
}
.diagram{
    align-content:center;
    text-align:center;
    display:block;
    display:block;
    margin:20px auto;
}
.anchor {
   display:block;
 /*   padding-top:100px;*/
  /*  margin-top:-100px;*/
  height:100px;
 }
.floatMenu {
    position:fixed;
        overflow-y: scroll;
      right: 0;
    top: 14%;
    max-height:80%;
    width: 18em;
    margin: -2.5em 0 0 0;
    z-index: 5;
    background: rgba(174, 209, 227, 0.50);
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    border: solid rgba(255, 0, 255, 0.5);
    border-right: none;
    padding: 0.5em 0.5em 0.5em 2.5em;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 0.5em 0.5em 3em
}
.floatMenu ul {
    margin-bottom:20px;
}
.floatMenu ul li a {
     display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.popUp {
    position:fixed;
      
      right: 50%;
    top: 50%;
    max-height:80%;
    width: 30em;
    margin: -2.5em 0 0 0;
    z-index: 5;
    background: rgba(174, 209, 227, 0.50);
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    border: solid rgba(255, 0, 255, 0.5);
    border-right: none;
    padding: 0.5em 0.5em 0.5em 2.5em;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 3em 3em 3em
}
.container {
    display: block;
    cursor: pointer;
        height: 40px;
}
.txtSpisTresci 
{
        display: inline-block;
    font-size: 16px;
}
.bar1, .bar2, .bar3 {
    width: 24px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px) ;
    transform: rotate(-45deg) translate(-7px, 5px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -2px) ;
    transform: rotate(45deg) translate(-2px, -2px) ;
}